<!--header-->
{include file="public/_meta" /}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 添加用户 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" method="post" action="{:url('adminUser/add')}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>管理员名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text username" value="" placeholder="新用户名" id="username" name="username">
                <label class = 'information username_information'>&nbsp;</label>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text password" autocomplete="off" value="" placeholder="密码" id="password" name="password">
                <label class = 'information password_information'>&nbsp;</label>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text repassword" autocomplete="off" value="" placeholder="再次输入密码" id="repassword" name="repassword">
                <label class = 'information repassword_information'>&nbsp;</label>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{include file="public/_footer" /}

<script>
    var SCOPE = {
        'username_url' : '{:url("api/validate/username")}',
        'password_url' : '{:url("api/validate/password")}',
        'repassword_url' : '{:url("api/validate/repassword")}',
    }
</script>
</body>
</html>